[submodule "machiawase-ios/msgpack"]
	path = machiawase-ios/msgpack
	url = https://github.com/msgpack/msgpack-objectivec.git
[submodule "scripts"]
	path = scripts
	url = https://gist.github.com/5007019.git
  ignore = dirty